---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import PinnedProject from "../components/PinnedProject.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <div class="hidden my-24">
    <h2 class="text-center text-3xl text-black font-inter font-semibold">
      Es momento de trazar un camino de oportunidades
    </h2>
    <p class="text-center text-lg font-inter text-gray w-1/3 mt-6 mx-auto">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's
    </p>
  </div>
  <About />
  <PinnedProject />
</Layout>
