---

---

<section class="flex flex-col gap-60 w-5/6 mx-auto mb-44">
  <div
    id="what-is"
    class="flex w-full mx-auto justify-center items-center gap-12"
  >
    <div class="flex flex-col w-1/3">
      <div class="flex gap-4 items-center mb-3">
        <div style="background-color: #08D3BB;" class="p-4 rounded-full">
          <img src="./happy-face.svg" alt="" srcset="" />
        </div>
        <div class="text-gray text-sm">Lorem Ipsum</div>
      </div>
      <h3 class="flex text-4xl font-bold text-black mb-3">
        ¿Qué es
        <span style="color : #08D3BB; white-space: pre;"> Siruela?</span>
      </h3>
      <p class="text-gray text-lg">
        Impulsor el desarrollo sostenible y la equidad social en Colombia
        mediante el respaldo a proyectos independientes de alto impacto social,
        ambiental y educativo, así como a iniciativas que ayuden a comunidades
        vulnerables en todo el país.
      </p>
    </div>
    <div class="w-1/3 rounded-lg overflow-hidden">
      <img class="w-full" src="./what-is.png" alt="" />
    </div>
  </div>
  <div
    id="how-it-works"
    class="flex flex-row-reverse w-full mx-auto justify-center items-center gap-12"
  >
    <div class="flex flex-col w-1/3">
      <div class="flex gap-4 items-center mb-3">
        <div class="bg-blue-500 p-4 rounded-full">
          <img src="./happy-face.svg" alt="" srcset="" />
        </div>
        <div class="text-gray text-sm">Lorem Ipsum</div>
      </div>
      <h3 class="flex text-4xl font-bold text-black mb-3">
        ¿Cómo
        <span class="text-blue-500" style="white-space: pre;"> Funciona?</span>
      </h3>
      <p class="text-gray text-lg">
        Impulsor el desarrollo sostenible y la equidad social en Colombia
        mediante el respaldo a proyectos independientes de alto impacto social,
        ambiental y educativo, así como a iniciativas que ayuden a comunidades
        vulnerables en todo el país.
      </p>
    </div>
    <div class="w-1/3 rounded-lg overflow-hidden">
      <img class="w-full" src="./how-it-works.png" alt="" />
    </div>
  </div>
  <div
    id="impact"
    class="flex w-full mx-auto justify-center items-center gap-12"
  >
    <div class="flex flex-col w-1/3">
      <div class="flex gap-4 items-center mb-3">
        <div style="background-color:#944CD8" class="p-4 rounded-full">
          <img src="./happy-face.svg" alt="" srcset="" />
        </div>
        <div class="text-gray text-sm">Lorem Ipsum</div>
      </div>
      <h3 class="flex text-4xl font-bold text-black mb-3">
        Nuestro
        <span style="color: #944CD8; white-space: pre;"> impacto</span>
      </h3>
      <p class="text-gray text-lg">
        Impulsor el desarrollo sostenible y la equidad social en Colombia
        mediante el respaldo a proyectos independientes de alto impacto social,
        ambiental y educativo, así como a iniciativas que ayuden a comunidades
        vulnerables en todo el país.
      </p>
    </div>
    <div class="w-1/3 rounded-lg overflow-hidden">
      <img class="w-full" src="./impact.png" alt="" />
    </div>
  </div>
</section>
