---
import Logo from "./shared/Logo.astro";
---

<footer class="bg-blue-500 w-full flex justify-center gap-24 py-20">
  <div class="max-w-[335px]">
    <Logo />
    <p class="mt-6 text-white text-sm font-open-sans">
      High level experience in web design and development knowledge, producing
      quality work.
    </p>
  </div>
  <div class="text-white">
    <h6 class="font-inter font-bold text-lg mb-8">Proyectos</h6>
    <ul class="flex flex-col gap-3 font-open-sans text-sm font-normal">
      <li><a href=""> Proyecto 1 </a></li>
      <li><a href=""> Proyecto 2 </a></li>
      <li><a href=""> Proyecto 3 </a></li>
    </ul>
  </div>
  <div class="text-white">
    <h6 class="font-inter font-bold text-lg mb-8">Sobre nosotros</h6>
    <ul class="flex flex-col gap-3 font-open-sans text-sm font-normal">
      <li><a href=""> ¿Qué es Siruela? </a></li>
      <li><a href=""> El equipo </a></li>
      <li><a href=""> Únete al equipo </a></li>
      <li><a href=""> Prensa </a></li>
    </ul>
  </div>
  <div class="text-white">
    <h6 class="font-inter font-bold text-lg mb-8">Síguenos</h6>
    <ul class="flex gap-4">
      <li class="rounded-full bg-white shadow-md hover:shadow-2xl">
        <a href="" class="flex w-9 h-9 p-3">
          <img src="./facebook.svg" alt="" />
        </a>
      </li>
      <li class="rounded-full bg-white shadow-md hover:shadow-2xl">
        <a href="" class="flex w-9 h-9 p-3">
          <img src="./instagram.svg" alt="" />
        </a>
      </li>
      <li class="rounded-full bg-white shadow-md hover:shadow-2xl">
        <a href="" class="flex w-9 h-9 p-3">
          <img src="./twitter.svg" alt="" />
        </a>
      </li>
      <li class="rounded-full bg-white shadow-md hover:shadow-2xl">
        <a href="" class="flex w-9 h-9 p-3">
          <img src="./linkedin.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</footer>
