---
import Button from "./shared/Button.astro";
---

<section class="w-5/6 mx-auto pt-14 pb-24 mb-40">
  <div id="video" class="mb-16">
    <div class="w-full h-96 bg-blue-500"></div>
  </div>
  <div class="flex justify-center px-20 gap-11 font-inter">
    <div class="flex flex-col items-center gap-7 w-3/4 text-center">
      <span class="text-base text-blue-500 font-semibold"
        >Proyecto destacado</span
      >
      <h4 class="text-5xl font-bold text-black">Mundo ambiente</h4>
      <p class="text-sm text-[#5C5C5C] max-w-[750px]">
        Dedicados a promover prácticas sostenibles y a la conservación del medio
        ambiente a través del reciclaje y la educación ambiental. Centrados en
        la recolección, clasificación y procesamiento eficiente de residuos, así
        como en programas educativos destinados a sensibilizar a la comunidad
        sobre la importancia del cuidado del entorno.
      </p>
      <Button text="Únete a este proyecto" />
    </div>
  </div>
</section>
